
<div *ngIf="!stepsCarregados">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="stepsCarregados">
  <div class="mat-display-2">{{title}}</div>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="primeiroStep">
      <form [formGroup]="primeiroStep">
        <ng-template matStepLabel>Informações do livro</ng-template>
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="nome" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Autor" formControlName="autor">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Editora" formControlName="editora">
        </mat-form-field>
        <mat-form-field>
          <input matInput readonly placeholder="Data de publicação" formControlName="dataPublicacao" [min]="dataMinima" [max]="dataMaxima" [matDatepicker]="dataPublicacao" />
          <mat-datepicker-toggle [for]="dataPublicacao" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dataPublicacao startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <div>
          <button color="primary" mat-raised-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="segundoStep">
      <form [formGroup]="segundoStep">
        <ng-template matStepLabel>Estoque</ng-template>
        <mat-form-field>
          <input matInput type="number" formControlName="quantidade" placeholder="Quantidade em estoque" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="quantidadeMinima" placeholder="Quantidade mínima para nova compra">
        </mat-form-field>
        <div>
          <button color="warn" mat-raised-button matStepperPrevious>Voltar</button>
          <button color="primary" mat-raised-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Resumo</ng-template>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Resumo dos dados
            </mat-panel-title>
            <mat-panel-description>
              Se estiver tudo correto, clique em Salvar.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Nome: {{primeiroStep.value.nome}}</p>
          <p>Autor: {{primeiroStep.value.autor}}</p>
          <p>Editora: {{primeiroStep.value.editora}}</p>
          <p>Data de publicação: {{primeiroStep.value.dataPublicacao | date: 'dd/MM/yyyy'}}</p>
          <p>Quantidade: {{segundoStep.value.quantidade}}</p>
          <p>Quantidade minima: {{segundoStep.value.quantidadeMinima}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <div>
        <button color="warn" mat-raised-button matStepperPrevious>Voltar</button>
        <button mat-raised-button (click)="stepper.reset()">Limpar</button>
        <button [disabled]="clicouSalvar" (click)="salvar()" color="primary" mat-raised-button>Salvar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
