<div class="mat-display-2">Novo Cadastro</div>
<mat-divider></mat-divider>
<mat-horizontal-stepper>
  <mat-step label="Dados do livro">
    <p>Dados do livro</p>
    <div>
      <div>
        <mat-form-field class="example-full-width">
          <textarea matInput required placeholder="Nome"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Autor"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Editora"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Ano de publicação"></textarea>
        </mat-form-field>
      </div>
      <button color="primary" mat-raised-button matStepperNext>Próximo</button>
    </div>
  </mat-step>
  <mat-step label="Estoque e preço">
    <p>Estoque e preço</p>
    <div>
      <mat-form-field class="example-full-width">
        <textarea matInput required placeholder="Quantidade em estoque"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Preço"></textarea>
      </mat-form-field>
    </div>
    <button color="warn" mat-raised-button matStepperPrevious>Voltar</button>
    <button color="primary" mat-raised-button matStepperNext>Próximo</button>
  </mat-step>
  <mat-step label="Resumo">
    <p>Resumo</p>
    <button color="warn" mat-raised-button matStepperPrevious>Voltar</button>
    <button color="primary" mat-raised-button matStepperNext>Salvar</button>
  </mat-step>
</mat-horizontal-stepper>
