<div class="mat-display-2 center">Informações</div>
<div class="side-by-side">
  <mat-card class="example-card column">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>battery_charging_full</mat-icon>
      </div>
      <mat-card-title>Estoque em Excesso</mat-card-title>
      <mat-card-subtitle>Livro que possue uma grande quantidade em estoque</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Livro
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card column">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>battery_alert</mat-icon>
      </div>
      <mat-card-title>Sem Estoque</mat-card-title>
      <mat-card-subtitle>Livro que não possui estoque</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Livro
    </mat-card-content>
  </mat-card>
</div>
